<table>
        <tr>
            <td>Namespace:</td> <td>{{falcoLog.namespace}}</td>
        </tr>
        <tr>
            <td>Pod:</td> <td>{{falcoLog.container}}</td>
        </tr>
        <tr>
            <td>Image:</td> <td>{{falcoLog.image}}</td>
        </tr>
        <tr>
            <td>Severity</td> <td>{{falcoLog.level}}</td>
        </tr>
        <tr>
            <td>Message</td> <td>{{falcoLog.message}}</td>
        </tr>
        <br><br>
        <a href="{{moreDetailsLink}}" target="_blank">{{moreDetailsLink}}</a>

</table>
