<style>
    td{
        text-align: left;
        width: 80%;
    }
    th {
        text-align: left;
        width: 20%;
    }
</style>

<table>
        <tr>
            <th>Namespace:</th> <td>{{falcoLog.namespace}}</td>
        </tr>
        <tr>
            <th>Pod:</th> <td>{{falcoLog.container}}</td>
        </tr>
        <tr>
            <th>Image:</th> <td>{{falcoLog.image}}</td>
        </tr>
        <tr>
            <th>Severity</th> <td>{{falcoLog.level}}</td>
        </tr>
        <tr>
            <th>Rule</th> <td>{{falcoLog.rule}}</td>
        </tr>
        <tr>
            <th>Tags</th> <td>{{falcoLogTags}}</td>
        </tr>
        <tr>
            <th>Message</th> <td>{{falcoLog.message}}</td>
        </tr>

</table>
<br><br>
<a href="{{moreDetailsLink}}" target="_blank">View More Details</a>
