{{userProfile.first_name}},<br>
<p>A password reset was sent for your {{companyName}} account. To proceed, go to the link below to set your password.</p>
<a href="{{resetPasswordLink}}" target="_blank">{{resetPasswordLink}}</a><br><br>
Thank you,<br>
{{companyName}}


